# 1. Игнорировать всё в LAB03, кроме указанного ниже
LAB03/*

# 2. Разрешить саму папку (чтобы она оставалась в репозитории)
!LAB03/

# 3. Разрешить структуру папок (до 3 уровней вложенности)
!LAB03/*/
!LAB03/*/*/
!LAB03/*/*/*/

# 4. Разрешить все .cs файлы
!LAB03/**/*.cs

